# Python bytecode cache mapping
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Local relational persistence engines
*.db
*.sqlite
*.sqlite3

# Ide configurations and environment variables
.vscode/
.idea/
.env

# Native virtual environments
venv/
.venv/
env/